body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
@font-face {
    font-family: 'YeonSung-Regular';
    src: url(../img/YeonSung-Regular.ttf) format('truetype');
}

._main {
    width : 100%;
}

._bg, ._bg2, ._bg3 {
    width : 100%;
    min-height: 100vh;
    position: absolute;
}

._bg {
    -webkit-clip-path: inset(12% 0 42% 0);
    clip-path: inset(12% 0 42% 0);
    z-index: -1;
}

._bg2 {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    z-index: -2;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    min-height: 100vh;
}

._mainContainer {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 20% 30% 20% 1fr;
    grid-template-areas:
         "header css"
         "nav css"
         "side css"
         "title title"
}

._header {
    grid-area : header;
}

._ground {
    background-color: rgba(0,0,0,.8);
    width : 100%;
    height: 100%;
}


._tag {
    grid-area: tag;
}

._title {
    grid-area: title;
}

._side {
    grid-area : side;
}

._css {
    grid-area : css;
}

._nav {
    grid-area : nav;
    color : #283B42;
}

._nav h2 {
    font-family:  YeonSung-Regular, serif;
}

@media (max-width: 1150px) {
    ._mainContainer {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 28% 27% 1fr;
    grid-template-areas:
         "header"
         "nav"
         "side"
         "title"
    }
}
@media (max-width: 600px) {
    ._bg {
        -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }
}