.mainMethod {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
         "methodTag"
         "methodSliderShow"
         "methodAbs"
}

.methodTag {
    grid-area : methodTag
}

.methodSliderShow {
    padding-top: 2%;
    grid-area: methodSliderShow ;
}

.methodAbs {
    grid-area: methodAbs;
}
