.side {
    margin : 0 auto;
    width : 100%;
}

.sideAlert {
    margin : 0 auto;
    width : 80%;
}

.side h2 {
    font-size : 2.5rem;
}

.mt-0 input[type="text"]{
    margin : 0 auto;
    width : 80%;
    font-size : 3.5rem;
    color : black;
}

@media(max-width: 505px) {
    .side {
        background-color:rgba(0, 0, 0, 0.5);
        margin : 0 auto;
        width : 100%;
        height: 200px;
    }

    .mt-0 input[type="text"]{
        font-size : 2.5rem;
        width : 100%;
        margin-left: 0;
        color : white;
    }
}