.mainFeature {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 110vh;
    min-height: 110vh;
    display: grid;
    grid-template-rows: 50vh 60vh;
     grid-template-areas:
         "fRanking"
         "fArticle"
}

.featureArticle {
    grid-area: fArticle;
    height: 60vh;
}

.featureRanking {
    margin : 0 auto;
    background-color:#fff;
    box-shadow: 5px 5px 5px 5px gray;
    grid-area: fRanking;
    width: 90%;
    display: grid;
    border-radius: 15px;
    grid-template-columns: 80% 10%;
     grid-template-areas:
         "fRainkingWordCloud fSection"
}

.featureRainkingWordCloud {
    grid-area: fRainkingWordCloud;
}

.featureSection {
    grid-area: fSection;
}

@media (max-width: 768px) {
    .featureRanking {
        width: 95%;
        grid-template-rows: 85% 15%;
    }
}
