.mainFeature {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 500px 600px;
     grid-template-areas:
         "fRanking"
         "fArticle"
}

.featureArticle {
    grid-area: fArticle;
    height: 600px;
}

.featureRanking {
    margin : 25px auto;
    background-color:#fff;
    height: 450px;
    box-shadow: 5px 5px 5px 5px gray;
    grid-area: fRanking;
    width: 90%;
    display: grid;
    border-radius: 15px;
    grid-template-columns: 80% 10%;
     grid-template-areas:
         "fRainkingWordCloud fSection"
}

.featureRainkingWordCloud {
    grid-area: fRainkingWordCloud;
}

.featureSection {
    grid-area: fSection;
}

@media (max-width: 768px) {
    .featureRanking {
        width: 95%;
        grid-template-rows: 85% 15%;
    }
}

@media (max-width: 520px) {
    .mainFeature {
        height : 810px;
        grid-template-rows: 360px 450px;
    }

    .featureRanking {
        height: 320px;
    }

    .featureArticle {
        height: 450px;
    }
}

@media (max-width: 700px) and (max-height : 400px) {

    .mainFeature {
        height : 850px;
        grid-template-rows: 300px 550px;
    }

    .featureRanking {
        margin-top: 10px;
        height: 280px;
    }

    .featureArticle {
        height: 550px;
    }
}