.side {
    margin : 0 auto;
    width : 80%;
    color : #42D728;
}

.sideAlert {
    margin : 0 auto;
    width : 80%;
}

.side h2 {
    font-size : 2.5rem;
}

.mt-0 input[type="text"]{
    margin : 5% auto 0 auto;
    width : 80%;
    font-size : 3.25rem;
    color : #42D728;
}

@media(max-width: 1150px) {

    .side {
        width : 90%;
    }
    .sideAlert {
        margin : 0 auto;
        width : 90%;
    }
}

@media(max-width: 950px) {
    .sideAlert {
        margin : 0 auto;
        width : 90%;
    }
}


@media(max-width: 505px) {
    .side {
        margin : 0 auto;
        width : 100%;
        height: 200px;
    }

    .mt-0 input[type="text"]{
        font-size : 2.5rem;
        width : 100%;
        margin-left: 0;
        color : white;
    }
}