/* ARABOZA 타이틀*/
.result-title{
    font-family: YDJ, YS, serif;
    /*font-size: 70px;*/
    font-size: 3rem;
    width:inherit;
    color:white;
    padding-bottom:50px;
    cursor:pointer;
    margin-left: 5px;
}


.menu-wrapper{
    display : grid;
    /*grid-template-columns: 1fr;*/
    grid-template-rows: repeat(5, 5rem);
    /*grid-row-gap: 10px;*/
    grid-area: menu-wrapper;
    padding: 20px 0 0 0;
    background: #122F3B;
    color:white;
}

.menu-btn{
    font-size: 1rem;
    font-family: Jua, serif;
    color: white;
    height: 3rem;
    border:none;
    background: none;
    /*text-align: left;*/
    margin-top: 1.5rem;
}
.menu-btn:hover{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    overflow:hidden;
}
.menu-btn:focus{
    outline: none;
}
#ara{
    display:inline-block;
    }
#boza{
    display:inline-block;
}
@media(max-width: 1100px) {
    .wrapper{
        width:100%;
    }

    .result-title{
        font-size: 2.3rem;
    }
}
@media(max-width: 1000px) {
    .result-title{
        font-size: 2.3rem;
         margin-left: 10px;
    }
}
@media(max-width: 900px) {
     .result-title{
         font-size: 2rem;
         margin-left: 0;
    }
}
@media(max-width: 700px) {
    #ara{
        display:block;
        }
    #boza{
        display:block;
    }
}
@media(max-width: 600px) {
     .result-title{
         margin-left: 0;
    }
    .menu-btn{
        font-size: 0.8rem;
    }
}
@media(max-width: 505px) {
     .menu-wrapper{
        grid-template-columns: repeat(5, 1fr);
        height:3rem;
        grid-gap: 0;
        padding: 0 0 0 0;
    }
    .menu-btn{
        font-size: 0.7rem;
        height:2rem;
        padding-bottom: 1rem;
    }
    .menu-btn:hover{
        background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
        -webkit-background-clip:text;
        -webkit-text-fill-color: transparent;
    }

    .result-title{
        display:none;
    }
}