@font-face {
    font-family: 'Potra';
    src: url(../img/Potra.ttf) format('truetype');
}
.back-wrapper{
    background: #F6F6F6;
    width:100%;
    height:100vh;
    border:none;
}
.wrapper{
    display: grid;
    /* 컬럼 수 */
    grid-template-columns: 16% 1fr;
    grid-template-rows: 10% 1fr;
    /*grid-column-gap: 10px;*/
    /* 높이 지정
    minmax(최소 높이, )*/
    /*grid-auto-rows: minmax(100px, auto);*/
    /* 그리드 셀 사이의 여백
    grid-colum-gap
    grid-row-gap

    프로퍼티 두개를 지정하면 처음 것은 row-gap, 두번째는 colum-gap
    grid-gap: 5px 10px;
    */
    grid-template-areas:
           "menu-wrapper result-header"
           "menu-wrapper  container"
            ;


}
*{ box-sizing: border-box; }
.wrapper{
    width:80%;
    margin: 0 auto;
    border:none;
}

/* 결과창 */
.result-header{
    grid-area: result-header;
    background: white;
    box-shadow: 1px 1px #E4E3E3;
    padding-top: 10px;
}
.mobile-title{
    display:none;
    float:left;
    margin-left: 15px;
    font-size: 2rem;
    font-family: Potra, serif;

}
#return-main{
    width:10rem;
    margin-right: 5px;
    color: gray;
    cursor:pointer;
    float:right;
}
#return-main:hover #return-icon{
    -webkit-animation: rotating 1.5s linear infinite;
     -moz-animation: rotating 1.5s linear infinite;
     -o-animation: rotating 1.5s linear infinite;
     animation: rotating 1.5s linear infinite;
}

@keyframes rotating {
  from {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/* ARABOZA 타이틀*/
.result-title{
    font-family: Potra, serif;
    /*font-size: 70px;*/
    font-size: 2rem;
    width:inherit;
    color:white;
}

.menu-wrapper{
    display : grid;
    /*grid-template-columns: 1fr;*/
    grid-template-rows: repeat(5, 3rem);
    grid-row-gap: 10px;
    grid-area: menu-wrapper;
    padding: 20px 0 0 0;
    background: #122F3B;
    color:white;
}

.menu-btn{
    font-size: 1rem;
    color: white;
    height: 3rem;
    border:none;
    background: none;
    /*text-align: left;*/

    margin-top: 1rem;
}
.menu-btn:hover{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    overflow:hidden;
}
.result-container{
    display:grid;
    grid-area: container;
    grid-template-areas:
            "pn-chart pn-chart"
            "site-chart nav"
     ;
    grid-template-columns: 60% 40%;
    margin: 10px 0 0 20px;
}
.res-intro{
    font-size: 1.7rem;
}
/* 긍 부정 차트 , 결과 내용*/
.pn-chart{
    grid-area: pn-chart;
    /*border: 1px solid #e0e0e0;*/
    border:none;
    border-radius: 0.7rem;
    box-shadow: 4px 4px 4px #e0e0e0;
    position: relative;
    background: #ffffff;
    padding: 0.8rem 0 0 0;
    margin-bottom: 10px;
}
.pn-chart:hover{
    box-shadow: 5px 5px 5px 4px #e0e0e0;
}


/*사이트 통계 파이 차트*/
.site-chart{
    grid-area: site-chart;
    /*height:250px;*/
    /*border: 1px solid #e0e0e0;*/
    border:none;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 4px #e0e0e0;
    padding: 0.8rem 0 0 0;
    background: #ffffff;
}
.site-chart:hover{
    box-shadow: 4px 4px 4px 4px #e0e0e0;
}
.nav{
    grid-area: nav;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3px;

}
.site{
    color: #61dafb;
    /*width: 8rem;*/
    /*height:8rem;*/
    text-align: center;
    font-weight: bold;
    padding-top: 0.6rem;
    box-shadow: 3px 3px 3px #e0e0e0;
    font-size: 1rem;
    background: #ffffff;
    margin: 0 0 0 10px;
    cursor:pointer;
}
.site:hover{
    /*background-color: #61dafb;*/
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);;
    color:white;
}
.site:focus{
    background-color: #61dafb;
    color:white;
}


@media(max-width: 1000px) {
    .wrapper{
        width:100%;
    }
    .result-title{
        font-size: 1.7rem;
    }
    .result-container{
        margin-right: 20px;
    }
    .nav{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .site-chart{
        margin-bottom: 5px;
    }
    .site{
        width:inherit;
        height:inherit;
        border-radius: 0;
    }
    .site:hover{
        font-size: 1rem;
        box-shadow: 3px 3px 3px 3px #e0e0e0;
    }
    .site-chart{
        font-size:0.8rem;
    }
}
@media(max-width: 900px) {
    .wrapper{
        width:100%;
        grid-template-rows: 10% 1fr;
    }
    .result-title{
        font-size: 1.6rem;
    }
    .result-container{
        margin-right: 20px;
    }
    .nav{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .site-chart{
        margin-bottom: 5px;
    }
    .site{
        width:inherit;
        border-radius: 0;
        padding-top: 0.75rem;
        font-size: 0.8rem;
    }
    .site:hover{
        font-size: 0.8rem;
        box-shadow: 3px 3px 3px 3px #e0e0e0;
    }
    .site-chart{
        font-size:0.8rem;
    }
}
@media(max-width: 505px) {
    .wrapper{
        width:100%;
        grid-template-columns: 100%;
        grid-template-rows: 10% 6% 84%;
        grid-template-areas:
           "result-header"
           "menu-wrapper"
           "container";
    }

    .menu-wrapper{
        grid-template-columns: repeat(5, 1fr);
        height:3rem;
        grid-gap: 0;
        padding: 0 0 0 0;
    }
    .menu-btn{
        font-size: 0.7rem;
        height:2rem;
        padding-bottom: 1rem;

    }
    .menu-btn:hover{
        background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
        -webkit-background-clip:text;
        -webkit-text-fill-color: transparent;
    }
    .result-container{
        width:100%;
        grid-template-columns: 100%;
        grid-template-rows: 40% 50% 10%;
        grid-template-areas:
            "pn-chart"
            "site-chart"
            "nav";
    }
    .result-title{
        display:none;
    }
    .mobile-title{
        display:block;
        margin-top:3px;
    }
    #return-main{
        width: 8rem;
        font-size: 0.7rem;
        padding: 0.3rem 0 0 3.5rem;
        margin:0.1rem 0.5rem 0 0;
        float: right;
    }
    #return-main:hover{
        font-size: 0.7rem;
    }
    .result-container{
        width:97%;
        margin: 20px 0 0 0;
    }
    .pn-chart{
        margin-left: 10px;
    }
    .site-chart{
        margin-left: 10px;
    }
    .res-intro{
        font-size: 1rem;
    }
    .nav{
        display:grid;
        grid-template-columns: repeat(15, 1fr);

        bottom:0;
        width:100%;
        height: 2.5rem;
        position: fixed;
        overflow-x: scroll;
        -ms-overflow-style: none;

    }
    .nav::-webkit-scrollbar {
         display: none !important;
    }

    .site{
        font-size: 0.7rem;
        width:5rem;
        height: 2.5rem;
        grid-gap: 0;
        margin: 0 0 0 0;
        background: #122F3B;
        text-align: center;

    }
}
