.nav{
    display:grid;
    /*grid-template-columns: repeat(8, 1fr);*/
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
    margin: 0 0 0 20px;
    /*z-index: 1;*/
}
.site{
    color: #61dafb;
    /*width: 8rem;*/
    /*height:8rem;*/
    line-height: 2.7rem;
    text-align: justify-all;
    vertical-align: middle;
    font-weight: bold;
    /*padding-top: 0.6rem;*/
    box-shadow: 3px 3px 3px #e0e0e0;
    font-size: 1rem;
    background:#122F3B;
    margin: 5px 0 0 0;
    cursor:pointer;
    font-family: SCDream4, serif;
}
.site:hover{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);;
    color:white;
}
.site:focus{
    background-color: #61dafb;
    color:white;
}
.non-active{
    background: rgba(100, 100, 100 , 0.5);
    color: #4C95A7;
    cursor:default;
    line-height: 2.7rem;
    text-align: justify-all;
    vertical-align: middle;
    font-weight: bold;
    box-shadow: 3px 3px 3px #e0e0e0;
    font-size: 1rem;
    margin: 5px 0 0 0;
    font-family: SCDream4, serif;
}
.nav-alert{
    font-weight: bold;
    position:absolute;
    z-index: 99;
    right:22%;
    top:23%;
}
.navArrow{
    display:none;
}

@media (max-height: 900px) {
    .site {
        line-height: 2.7rem;
        text-align: justify-all;
        vertical-align: middle;
    }
    .non-active {
        line-height: 2.7rem;
        text-align: justify-all;
        vertical-align: middle;
    }
}
@media(max-width: 1000px) {
    .site{
        width:inherit;
        height:inherit;
        border-radius: 0;
    }
    .non-active{
        width:inherit;
        height:inherit;
        border-radius: 0;
    }
    .site:hover{
        /*font-size: 1rem;*/
        box-shadow: 3px 3px 3px 3px #e0e0e0;
    }
}
@media(max-width: 900px) {
    /*.site{*/
    /*    width:inherit;*/
    /*    border-radius: 0;*/
    /*    font-size: 0.8rem;*/
    /*}*/
    .non-active, .site{
        width:inherit;
        border-radius: 0;
        font-size: 0.8rem;
    }
    .site:hover{
        box-shadow: 3px 3px 3px 3px #e0e0e0;
    }
}
@media(max-width: 600px) {
    .site{
        width:inherit;
        border-radius: 0;
        font-size: 0.6rem;
    }
    .non-active{
        width:inherit;
        border-radius: 0;
        font-size: 0.6rem;
    }
    .site:hover{
        box-shadow: 3px 3px 3px 3px #e0e0e0;
    }
}
@media(max-width: 505px) {
    .nav{
        grid-template-columns: repeat(16, 1fr);
        grid-gap: 0;
        bottom:0;
        width:100%;
        height: 2.7rem;
        position: fixed;
        overflow-x: scroll;
        -ms-overflow-style: none;
        margin: 0;
        z-index: 2;
        left:0;

    }
    .nav::-webkit-scrollbar {
         display: none !important;
    }
    .site{
        font-size: 1rem;
        width:5rem;
        height: 2.7rem;
        grid-gap: 0;
        margin: 0;
        padding:0;
        background: #122F3B;
        text-align: center;
        vertical-align: middle;
    }
    .non-active{
        font-size: 1rem;
        width:5rem;
        height: 2.7rem;
        grid-gap: 0;
        margin: 0 0 0 0;
        padding:0 0 0 0;
        background: rgba(18,47,59, 0.5);
        text-align: center;
        vertical-align: middle;
    }
    .site:hover{
        font-size: 1rem;
    }
    .nav-alert{
        top:82%;
        left:25%;
    }
    .navArrow{
        display:block;
        width:100%;
        z-index: 5;
        position:fixed;
    }
    #arrowLeft, #arrowRight{
        color:white;
        font-weight: bold;
        margin-top: 10px;
    }
    #arrowLeft{
        position:absolute;
        left:1%;


    }
    #arrowRight{
        position:absolute;
        right:1%;

    }
    .nav:hover #arrowLeft{
        -webkit-animation: leftArrowMove 1s infinite forwards;
        -moz-animation: leftArrowMove 1s infinite forwards;
        animation: leftArrowMove 1s infinite forwards;
    }
    .nav:hover #arrowRight{
        -webkit-animation: rightArrowMove 1s infinite forwards;
        -moz-animation: rightArrowMove 1s infinite forwards;
        animation: rightArrowMove 1s infinite forwards;
    }
    @keyframes rightArrowMove{
        from{
            right: 2%;
        }
        to{
            right: 1%;
        }
    }
    @keyframes leftArrowMove{
        from{
            left: 2%;
        }
        to{
            left: 1%;
        }
    }

}


